@mixin square($size) {
  width: $size;
  height: $size;
}

.forien-armoury {
  .forien-armoury-hr {
    border-bottom: 1px solid var(--color-border-light-highlight);
  }

  .forien-image-name-header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-evenly;

    img {
      @include square(36px)
    }

    h2, h3 {
      flex: 1;
      margin: 0 0 0 6px;
    }
  }

  .repair-group {
    margin-top: 16px;

    &:first-child {
      margin-top: 2px;
    }
  }


  .item-repair-entry {

    .item-repair-body {
      padding-left: 6px;
    }

    .repair-item-location {
      //border: #5c5cff solid 1px;
      margin: 8px 0;

      .repair-item-location-header {
        //font-family: CaslonPro, serif;
        font-family: CaslonAntique, serif;

        .label {
          font-weight: 600;
          font-size: var(--font-size-18);
        }

        .damage {
          //float: right;
          //font-size: 0.9em;
          //font-family: CaslonPro, serif;
          font-family: CaslonAntique, serif;
          color: var(--color-border-highlight);
        }
      }

      .repair-item-location-body {
        padding-left: 6px;

        p {
          margin: 2px 0;
        }
      }

      .repair-buttons {
        grid-template-columns: 1fr max-content;

        label {
          font-size: 1.1em;
        }
      }
    }

    .repair-buttons {
      display: grid;
      grid-template-columns: 1fr max-content max-content;
      grid-template-rows: auto;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      align-items: center;

      .forien-repair-item {
        flex: 1 1;
      }

      label {
        flex: 1 5;
        font-weight: 600;
        font-family: CaslonAntique, serif;
        font-size: 1.2em;
      }

      .chat-button {
        border-width: 1px;
        font-size: var(--font-size-13);
        font-family: CaslonAntique, serif;
        padding-bottom: 1px;
      }
    }

    &::after {
      content: '';
      display: block;
      margin: 6px 0 10px;
      border-bottom: 1px solid var(--color-underline-header);
    }

    &:last-of-type::after {
      display: none;
    }

  }

  /**
   * Select Item Dialog
   */
  &.select-item {
    input {
      display: none;
    }

    label {
      border: #bba022 solid 2px;
      margin: 2px 5px;
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr;
      gap: 0 0;
      grid-template-areas: ". .";

      .image {
        @include square(50px);
        display: block;
      }

      .name {
        display: block;
        align-self: center;
        margin-left: 10px;
      }
    }

    input:checked + label {
      font-weight: bold;
      box-shadow: 0 0 20px 0 #b79756, inset 0 0 20px 0 #b79756;
    }
  }


  &.magical-endurance-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    height: 25px;

    .magical-endurance-box {
      display: flex;
      flex-direction: row;
      margin-right: 6px;
      flex: 4;

      &:last-of-type {
        margin-right: 0;
      }

      .label {
        font-family: CaslonAntique, serif;
        font-weight: 700;
        font-size: var(--font-size-16);
        color: #464331c4;
        text-align: center;
        border: 1px solid #736953a6;
        margin: 0;
        height: inherit;
        box-shadow: 0 0 10px #00000052 inset;
        padding: 3px 0 0;
        width: 70px;
        flex: 3;

        &.unit {
          flex: 1;
        }

        &.divide {
          box-shadow: none;
          border-left: none;
          border-right: none;
          flex: 0;
        }

        &.value {
          box-shadow: none;
          border-left: none;
          flex: 1;
          color: #222;
          font-weight: 500;
        }
      }

      .input {
        text-align: center;
        border: 1px solid #736953a6;
        border-left: none;
        border-right: none;
        margin: 0;
        padding: 0;
        height: inherit;
        flex: 1;

        input {
          text-align: center;
          margin: 0;
          padding: 3px 0 0 0;
          height: 23px;
          width: 100%;
          background: none;
          font-family: CaslonAntique, serif;
          font-weight: 500;
          font-size: var(--font-size-16);
          display: inline-block;
          color: #111;
        }
      }
    }
  }

  &.app.window-app.sheet {
    &.scroll-sheet {
      min-width: 550px;

      .window-content {
        .tab {
          &.details {
            .form-group {
              &.spell {
                .spell-refresh {
                  font-size: var(--font-size-12);
                }

                .scroll-spell {
                  display: flex;
                  gap: 5px;

                  img {
                    @include square(60px);
                  }

                  .spell-details {
                    padding: 3px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .spell-name {
                      font-family: CaslonAntique, serif;
                      font-size: var(--font-size-18);
                      font-weight: bold;
                      margin-top: -5px;
                    }

                    .tags {
                      display: flex;
                      flex-wrap: wrap;
                      flex-direction: row;
                      gap: 2px 3px;
                    }

                    .tag {
                      //float: left;
                      margin: 0;
                      padding: 0 2px;
                      font-size: var(--font-size-12);
                      font-family: Signika, sans-serif;
                      line-height: 16px;
                      border: 1px solid #999;
                      border-radius: 3px;
                      background: rgba(0, 0, 0, 0.05);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

.app.window-app.sheet.wfrp4e.actor {
  .tab.inventory {
    .scrolls {
      .scroll-spell-link {
        font-weight: bold;
        cursor: pointer;
      }

      .scroll-spell-cast {
        box-shadow: inset 0 1px 0 0 #a6827e;
        background: #7d5d3b00 linear-gradient(to bottom, #21374afc 5%, #152833ab 100%);
        border-radius: 3px;
        border: 2px ridge #846109;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: CaslonPro, serif;
        font-size: var(--font-size-14);
        padding: 4px 12px 0 12px;
      }
    }
  }
}

#forien-armoury-settings-app {
  $baseColorLight: #352516;
  $baseColorMedium: #1a1007;
  $baseColorDark: #110a04;
  $colorDarkest: #080808;

  form {
    padding: 8px 3px;
    overflow: hidden;

    .tabs {
      font-family: CaslonAntique, serif;
      height: 30px;
      //flex-wrap: wrap;

      .item {
        display: flex;
        //flex-basis: 25%;
        justify-content: center;
        align-items: flex-end;
        align-self: end;
        height: 75%;
        width: 100%;
        margin: 0 -5px;
        background-color: $baseColorLight;
        border-radius: 10px 10px 0 0;
        border: 1px solid $baseColorDark;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &.active {
          height: 100%;
          font-size: var(--font-size-16);
          align-items: flex-start;
          padding-top: 5px;
          z-index: 1;
        }
      }
    }

    .content {
      width: 100%;
      height: calc(100% - 25px - 30px - 5px);
      //height: fit-content;
      font-family: CaslonPro, serif;
      background-color: transparentize($baseColorMedium, 0.25);
      border: 1px solid $baseColorDark;
      padding: 6px 10px;
      border-radius: 0 0 5px 5px;
      overflow-y: auto;
      overflow-x: hidden;

      .form-group {
        margin: 6px 0;
        background-color: transparentize($colorDarkest, 0.25);
        padding: 4px;
      }

      .settings-enabled {
        display: none;
        margin-top: 8px;

        &.active {
          display: block;
        }
      }

      .settings-group {
        margin: 6px 0;
        padding: 2px 6px;
        border: solid 2px $baseColorLight;
        border-radius: 4px;
      }

      input[type=checkbox] {
        box-shadow: none;

        &:checked {
          accent-color: $baseColorLight;
        }
      }
    }

    button[type="submit"] {
      margin-top: 5px;
    }

    .promo {
      border: 3px solid $baseColorLight;
      border-radius: 5px;
      padding: 4px 8px;

      p {
        font-family: 'Lato', sans-serif;
        text-align: justify;
      }

      a {
        cursor: pointer;
      }

      .support-links {
        text-align: center;
        margin: 10px 0;

        a {
          display: inline-block;
          height: 30px;
          text-decoration: none;

          &:hover {
            box-shadow: #a08349 0 0 6px 4px;
          }
        }
      }

      .other-links {
        p {
          text-align: left;
        }
      }
    }
  }
}

.app.window-app.sheet.wfrp4e.actor {
  .tab.inventory.active {
    .inventory-header.inventory-container.level-1 {
      .column-section {
        max-width: 120px;
      }
    }
  }
}