@mixin square($size) {
  width: $size;
  height: $size;
}

.forien-armoury {
  .forien-armoury-hr {
    border-bottom: 1px solid var(--color-border-light-highlight);
  }

  .forien-image-name-header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-evenly;

    img {
      @include square(36px)
    }

    h2, h3 {
      flex: 1;
      margin: 0 0 0 6px;
    }
  }

  .repair-group {
    margin-top: 16px;

    &:first-child {
      margin-top: 2px;
    }
  }


  .item-repair-entry {

    .item-repair-body {
      padding-left: 6px;
    }

    .repair-item-location {
      //border: #5c5cff solid 1px;
      margin: 8px 0;

      .repair-item-location-header {
        //font-family: CaslonPro, serif;
        font-family: CaslonAntique, serif;

        .label {
          font-weight: 600;
          font-size: var(--font-size-18);
        }

        .damage {
          //float: right;
          //font-size: 0.9em;
          //font-family: CaslonPro, serif;
          font-family: CaslonAntique, serif;
          color: var(--color-border-highlight);
        }
      }

      .repair-item-location-body {
        padding-left: 6px;

        p {
          margin: 2px 0;
        }
      }

      .repair-buttons {
        grid-template-columns: 1fr max-content;

        label {
          font-size: 1.1em;
        }
      }
    }

    .repair-buttons {
      display: grid;
      grid-template-columns: 1fr max-content max-content;
      grid-template-rows: auto;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      align-items: center;

      .forien-repair-item {
        flex: 1 1;
      }

      label {
        flex: 1 5;
        font-weight: 600;
        font-family: CaslonAntique, serif;
        font-size: 1.2em;
      }

      .chat-button {
        border-width: 1px;
        font-size: var(--font-size-13);
        font-family: CaslonAntique, serif;
        padding-bottom: 1px;
      }
    }

    &::after {
      content: '';
      display: block;
      margin: 6px 0 10px;
      border-bottom: 1px solid var(--color-underline-header);
    }

    &:last-of-type::after {
      display: none;
    }

  }

  /**
   * Select Item Dialog
   */
  &.select-item {
    input {
      display: none;
    }

    label {
      border: #bba022 solid 2px;
      margin: 2px 5px;
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr;
      gap: 0 0;
      grid-template-areas: ". .";

      .image {
        width: 50px;
        height: 50px;
        display: block;
      }

      .name {
        display: block;
        align-self: center;
        margin-left: 10px;
      }
    }

    input:checked + label {
      font-weight: bold;
      box-shadow: 0 0 20px 0 #b79756, inset 0 0 20px 0 #b79756;
    }
  }

}

.app.window-app.sheet.wfrp4e.actor {
  .tab.inventory.active {
    .inventory-header.inventory-container.level-1 {
      .column-section {
        max-width: 120px;
      }
    }
  }
}